<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="{% static 'content/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'content/css/navigation.css' %}" rel="stylesheet">
    {% block links %} {% endblock %}
</head>
<body>
    <!-- Navigation for moble -->
    <nav class="nav-mobile">
        <div class="nav-title">Pramod J</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/skills/">Skills</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/certifications/">Certifications</a></li>
            <li><a href="/education/">Education</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>

    <div class="home-left">
        <nav class="navbar">
            <samp class="main-name">Pramod J</samp>
            <samp class="main-email">pramod.athreya.0098@gmail.com</samp>
            {% block nav-bar %} {% endblock %}
        </nav>

        <div class="left-circle-large"></div>
        <div class="left-circle-small"></div>

    </div>

    <div class="home-right">
        <div class="right-circle-large"></div>
        <div class="right-circle-small"></div>

        {% block content %} {% endblock %}
    </div>

    <script src="{% static 'content/js/app.js' %}"></script>
</body>
</html>