{% extends 'base.html' %}

{% block nav-bar %}
<ul class="navbar-nav">
    <li class="nav-item"><a href="/skills/">Skills</a></li>
    <li class="nav-item"><a href="/projects/">Projects</a></li>
    <li class="nav-item"><a href="/certifications/">Certifications</a></li>
    <li class="nav-item"><a href="/education/">Education</a></li>
    <li class="nav-item"><a href="/about/">About</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container-boxs">
    <div class="box box-skills">
        <a class="box-nav-item" href="/skills/">Skills</a>
    </div>
    <div class="box box-projects">
        <a class="box-nav-item" href="/projects/">Projects</a>
    </div>
    <div class="box box-certificates">
        <a class="box-nav-item" href="/certifications/">Certifications</a>
    </div>
    <div class="box box-education">
        <a class="box-nav-item" href="/education/">Education</a>
    </div>
    <div class="box box-about">
        <a class="box-nav-item" href="/about/">About</a>
    </div>
</div>
{% endblock %}