.content-main {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
}

.certificate-set {
    background-color: rgba(17, 103, 177, 0.4);
    border-radius: 5px;
    padding: 1.2vw;
    margin: 1.2vw;
}

.title {
    font-size: 3vw;
    color: #FFFFFF;
    line-height: 120%
}

.certification-details {
    margin-top: 2%;
    font-size: 2vw;
    color: #878383;
    line-height: 140%
}

.right-circle-large {
    z-index: 0;
}


@media only screen and (max-width: 460px) {

    .title {
        font-size: 6vw;
    }

    .certification-details {
        font-size: 4vw;
    }

    .certificate-set {
        padding: 1.2em;
        margin-left: 0;
        margin-right: 0;
    }

    .content-main {
        position: static;
        width: auto;
        height: auto;
        padding: 6.52vw;

        display: flex;
        flex-direction: column;
    }

}