.content-main {
    position: relative;
    top: auto;
    bottom: auto;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 1;
    overflow-y: auto;
}

.skill-category {
    font-size: 3vw;
    color: rgba(54, 52, 52, 0.8);
    line-height: 200%;
}

.skill-item {
    background-color: rgba(17, 103, 177, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.2em;
    font-size: 2vw;
    color: #FFFFFF;
    line-height: 140%;
}

.skill-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2em;
}

.skill-set {
    margin: 2%;
}

.right-circle-large {
    z-index: 0;
}


@media only screen and (max-width: 460px) {

    .skill-category {
        font-size: 6vw;
    }

    .skill-item {
        padding: 0.2em;
        font-size: 4vw;
    }

    .content-main {
        position: static;
        width: auto;
        height: auto;
        padding: 6.52vw;

        display: flex;
        flex-direction: column;
    }

}